@import url('https://fonts.googleapis.com/css?family=Niramit');
body {
  font-family: "Niramit";
}
.btn {
  border-radius: 0;
}
#navbar {
  box-shadow: 0px 1px 4px c0px rgba(0, 0, 0, 0.15);
  background: white;
  min-height: 104px;
  margin-bottom: 0px;
}
#navbar .navbar-brand {
  padding: 0;
  float: none;
  height: auto;
  margin: 0;
  margin-bottom: 11px;
  display: block;
}
#navbar .navbar-header {
  width: auto;
  margin-left: 16.66666667%;
}
#navbar .navbar-header .search {
  display: none;
}
#navbar .lg-search {
  float: right;
  width: 550px;
  margin-top: 19px;
}
#navbar .nav > li.dropdown.open {
  position: static;
}
#navbar .nav > li.dropdown.open .dropdown-menu {
  display: table;
  border-radius: 0px;
  width: 100%;
  text-align: center;
}
#navbar .input-group input:not(:focus) {
  display: block;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
#navbar .navbar-toggle {
  margin-top: 0;
}
#navbar .collapse ul li .dropdown-toggle {
  padding: 13px 0;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 5px solid white;
  color: black;
}
#navbar .collapse ul li a {
  font-size: 18px;
  color: black;
}
#navbar .collapse ul li a:hover {
  color: #709451;
  background: white;
}
#navbar .collapse ul .open .dropdown-toggle {
  color: #709451;
  border-bottom: 5px solid #709451;
  background: white;
}
#navbar .navbar-nav .cart:hover img {
  -webkit-filter: drop-shadow(3px 3px #709451);
  filter: drop-shadow(3px 3px #709451);
}
#navbar .dropdown-menu {
  padding-top: 45px;
  padding-bottom: 41px;
}
#navbar .dropdown-menu li {
  text-align: left;
}
#navbar .dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #999999;
  cursor: pointer;
  padding-left: 0;
}
#navbar .dropdown-menu .dropdown-header:hover {
  color: #709451;
}
#navbar .dropdown-menu .item {
  font-size: 24px;
  color: black;
}
#navbar .dropdown-menu .item:hover {
  color: #709451;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background: white;
  color: #709451;
}
#body {
  margin-top: 45px;
}
#slider .carousel-inner {
  height: 680px;
  cursor: pointer;
}
#slider .carousel-inner .item {
  height: 680px;
  text-align: center;
  line-height: 680px;
}
#slider .carousel-inner .item img {
  display: inline-block;
}
#slider .control {
  cursor: pointer;
  margin-top: 12px;
}
#slider .control .one {
  text-align: center;
  line-height: 90px;
}
#slider .control .one .background {
  background: #ececec;
  width: 100%;
  height: 100%;
}
#slider .control .col-xs-2 {
  padding: 0 3px;
}
#slider .control img {
  max-height: 90px;
  max-width: 100%;
  vertical-align: middle;
}
#body_right .star img {
  vertical-align: top;
  width: 18px;
  height: 18px;
}
#body_right .title {
  font-size: 48px;
}
#body_right .rate {
  margin-top: 17px;
}
#body_right .rate .review_click {
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  display: inline-block;
  margin-left: 10px;
}
#body_right select {
  width: 133px;
  height: 44px;
  padding: 0;
}
#body_right .purchase .price-line {
  margin-top: 24px;
}
#body_right .purchase .price {
  font-size: 30px;
  vertical-align: top;
  margin-left: 24px;
}
#body_right .purchase .form-group {
  display: inline-block;
  margin-bottom: 0;
}
#body_right .purchase .btn {
  background: black;
  height: 52px;
  width: 210px;
  font-size: 16px;
  color: white;
  float: left;
  margin-right: 10px;
}
#body_right .purchase .btn:hover {
  background: #709451;
}
#body_right .purchase .action_btn {
  height: 52px;
  margin-top: 24px;
}
#body_right .tab {
  margin-top: 60px;
}
#body_right .tab .nav-tabs {
  border-color: black;
}
#body_right .tab li a {
  font-size: 24px;
  color: #999999;
  padding: 15px 19px;
  cursor: pointer;
}
#body_right .tab li a:hover {
  background: white;
  color: #709451;
}
#body_right .tab .active a {
  color: black;
  border-color: black;
  border-bottom: 1px solid white;
  border-radius: 0;
}
#body_right .tab .active .left {
  border-left: none;
}
#description {
  padding-top: 30px;
  font-size: 16px;
  line-height: 1.75;
}
#menu1 .one_review {
  border-bottom: 3px solid #f2f2f2;
  padding: 30px 0;
}
#menu1 .reviews_content {
  margin-top: 20px;
  line-height: 1.625;
}
#menu1 .helpful {
  font-size: 14px;
  color: #999999;
  margin-top: 16px;
}
#menu1 .helpful .btn {
  background: white;
  border: 1px solid #999999;
  width: 48px;
  height: 23px;
  padding: 0;
}
#menu1 .helpful .btn:hover {
  background: black;
  color: white;
}
#menu1 .helpful .yes {
  margin-left: 19px;
}
#menu1 .helpful .no {
  margin-left: 10px;
}
#menu1 .star_line {
  height: 20px;
}
#menu1 .star_line .star {
  height: 18px;
}
#menu1 .star_line .text {
  display: inline-block;
  bottom: 0;
}
#menu1 .ratetxt {
  margin-top: 13px;
  font-size: 14px;
  line-height: 1.2;
  text-align: left;
}
#menu1 .review_btn {
  float: right;
}
#menu1 .all_review_btn {
  float: left;
  margin-top: 30px;
}
#menu1 .big_btn {
  border: 1px solid black;
  width: 232px;
  height: 50px;
  font-size: 16px;
  text-align: center;
  background: white;
}
#menu1 .big_btn:hover {
  color: #709451;
  border-color: #709451;
}
@media only screen and (max-width: 992px) {
  #navbar .collapse ul li .dropdown-toggle {
    margin-left: 10px;
    margin-right: 10px;
  }
  #navbar .lg-search {
    width: 500px;
  }
}
@media only screen and (max-width: 767px) {
  #navbar .navbar-header {
    margin: 0;
  }
  #navbar .navbar-header .navbar-brand img {
    display: block;
    margin: 0 auto;
  }
  #navbar .navbar-header .search {
    display: block;
    overflow: hidden;
  }
  #navbar .input-group {
    display: none;
  }
  #navbar .dropdown-menu {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #body {
    margin-top: 10px;
  }
}
