@star_color:#709451;
@control_background:#ececec;

@lg-search-width:550px;
@md-search-width:500px;

@slider-height:680px;

@import url('https://fonts.googleapis.com/css?family=Niramit');
body{
	font-family: "Niramit";
}
.btn{
	border-radius:0;
}
#navbar{
	box-shadow: 0px 1px 4px c0px rgba(0, 0, 0, 0.15);
	background:white;
	min-height:104px;
	margin-bottom: 0px;
	.navbar-brand{
		padding:0;
		float:none;
		height:auto;
		margin:0;
		margin-bottom:11px;
		display:block;
	}
	.navbar-header{
		width:auto;
		margin-left:100/6%;
		.search{
			display:none;
		}
	}
	.lg-search{
		float:right;
		width:@lg-search-width;
		margin-top:19px;
	}
	.nav > li.dropdown.open {
		position: static;
	}
	.nav > li.dropdown.open .dropdown-menu {
		display: table;
		border-radius: 0px;
		width: 100%;
		text-align: center;
	}
	.input-group input:not(:focus){
		display:block;
		border:none;
		box-shadow:none;
		-webkit-box-shadow:none;
	}
	.navbar-toggle{
		margin-top:0;
	}
	.collapse ul li{
		.dropdown-toggle{
			padding: 13px 0;
			margin-left:20px;
			margin-right: 20px;
			border-bottom:5px solid white;
			color: black;
		}
		a{
			font-size: 18px;
			color: black;
		}
	}
	.collapse ul li a:hover{
		color: @star_color;
		background: white;
	}
	.collapse ul .open .dropdown-toggle{
		color: @star_color;
		border-bottom:5px solid @star_color;
		background: white;
	}
	.navbar-nav .cart:hover img{
		-webkit-filter: drop-shadow(3px 3px @star_color);
  		filter: drop-shadow(3px 3px @star_color);
	}
	.dropdown-menu{
		padding-top: 45px;
		padding-bottom: 41px;
		li{
			text-align:left;
		}
		.dropdown-header{
			font-size: 18px;
			color: rgb(153, 153, 153);
			cursor: pointer;
			padding-left: 0;
		}
		.dropdown-header:hover{
			color:@star_color;
		}
		.item{
			font-size: 24px;
			color:black;
		}
		.item:hover{
			color: @star_color;
		}
	}
}
//over read default nav bar setting
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:hover{
	background: white;
	color: @star_color;
}
#body{
	margin-top: 45px;
}
#slider{
	.carousel-inner{
		height: @slider-height;
		cursor: pointer;
		.item{
			height: @slider-height;
			text-align: center;
			line-height: @slider-height;
			img{
				display: inline-block;
			}
		}
	}
	.control{
		cursor:pointer;
		margin-top: 12px;
		.one{
			text-align: center;
			line-height:90px;
			.background{
				background:@control_background;
				width: 100%;
				height: 100%;
			}
		}
		.col-xs-2{
			padding:0 3px;
		}
		img{
			max-height: 90px;
			max-width: 100%;
			vertical-align: middle;
		}
	}
}
#body_right{
	.star img{
		vertical-align: top;
			width:18px;
			height:18px;
	}
	.title{
		font-size: 48px;
	}
	.rate{
		margin-top: 17px;
		.review_click{
			text-decoration:underline;
			cursor:pointer;
			font-size:16px;
			display: inline-block;
			margin-left: 10px;
		}
	}
	select{
		width:133px;
		height:44px;
		padding:0;
	}
	.purchase{
		.price-line{
			margin-top:24px;
		}
		.price{
			font-size: 30px;
			vertical-align: top;
			margin-left:24px;
		}
		.form-group{
			display:inline-block;
			margin-bottom:0;
		}
		.btn{
			background:black;
  			height: 52px;
  			width:210px;
  			font-size: 16px;
  			color:white;
  			float:left;
  			margin-right:10px;
		}
		.btn:hover{
			background:@star_color;
		}
		.action_btn{
			height:52px;
			margin-top:24px;
		}
	}
	.tab{
		margin-top:60px;
		.nav-tabs{
			border-color:black;
		}
		li a{
			font-size: 24px;
  			color: rgb(153, 153, 153);
  			padding:15px 19px;
  			cursor: pointer;
		}
		li a:hover{
  			background: white;
  			color:@star_color;
	  	}
		.active{
			a{
	  			color:black;
	  			border-color:black;
	  			border-bottom:1px solid white;
	  			border-radius:0;
	  		}

	  		.left{
	  			border-left:none;
	  		}
		} 
	}
}
#description{
	padding-top:30px;
	font-size: 16px;
	line-height: 1.75;
}
#menu1{
	.one_review{
		border-bottom:3px solid rgb(242, 242, 242);
		padding:30px 0;
	}
	.reviews_content{
		margin-top:20px;
		line-height: 1.625;
	}
	.helpful{
  		font-size: 14px;
  		color: rgb(153, 153, 153);
  		margin-top:16px;
  		.btn{
  			background:white;
  			border:1px solid rgb(153, 153, 153);
  			width: 48px;
  			height: 23px;
  			padding:0;
  		}
  		.btn:hover{
  			background:black;
  			color:white;
  		}
  		.yes{
  			margin-left:19px;
  		}
  		.no{
  			margin-left:10px;
  		}
	}
	.star_line{
		height:20px;
		.star{
			height:18px;
				
		}
		.text{
			display:inline-block;
			bottom:0;
		}
	}
	.ratetxt{
		margin-top:13px;
		font-size: 14px;
		line-height: 1.2;
		text-align: left;
	}
	.review_btn{
		float:right;
	}
	.all_review_btn{
		float:left;
		margin-top:30px;
	}
	.big_btn{
		border:1px solid black;
  		width: 232px;
  		height: 50px;
  		font-size: 16px;
  		text-align: center;
  		background:white;	
	}
	.big_btn:hover{
		color:@star_color;
  		border-color:@star_color;
	}
}
@media only screen and (max-width: 992px) {
	#navbar{
		//make sure navigation bar does it get into a new line
		.collapse ul li .dropdown-toggle{
			margin-left:10px;
			margin-right:10px;
		}
		//make sure search bar does not get into a new line
		.lg-search{
			width:@md-search-width
		}
	}
}
//small screen
@media only screen and (max-width: 767px) {
	//navigation bar hide default search bar and display another search bar
	#navbar{
		.navbar-header{
			margin:0;
			.navbar-brand img{
				display:block;
				margin:0 auto;
			}
			.search{
				display:block;
				overflow:hidden;
			}
		}
		.input-group{
			display:none;
		}
	}
	#navbar .dropdown-menu{
		padding-top:10px;
		padding-bottom: 10px;
	}
	#body{
		margin-top:10px;
	}
}